<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vellichor</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/base.css') }}"
    >

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/home.css') }}"
    >
</head>

<body>

<div class="app-container">

    <!-- Sidebar -->
    <aside class="sidebar">
        <button class="new-chat-btn"> + New Chat</button>

        <div class="conversation-list">

            {% if conversations %}

                {% for conversation in conversations %}

                    <div class="conversation-item">
                        
                        <!-- Chat Name -->
                        <a href="{{ url_for('chat.open_chat', conversation_id=conversation.id) }}">
                            {{ conversation.title }}
                        </a>
                        
                    

                        <div class="conversation-actions">
                            <!--Delete -->
                            <form
                                action="{{ url_for('chat.delete_chat', conversation_id=conversation.id) }}"
                                method="POST"
                            >
                                <button type="submit">
                                    🗑️
                                </button>
                            </form>

                            <!-- Pin -->
                            <form 
                                action="{{url_for('chat.toggle_pin', conversation_id = conversation.id)}}"
                                method="POST"
                            >

                                <button type="submit">

                                    {% if conversation.is_pinned %}
                                        📍
                                    {% else %}
                                        📌
                                    {% endif %}

                                </button>

                            </form>

                            <!-- Rename -->
                            <form
                                action="{{ url_for('chat.rename_chat', conversation_id=conversation.id) }}"
                                method="POST"
                            >

                                <input
                                    type="text"
                                    name="title"
                                    placeholder="New title"
                                    required
                                >

                                <button type="submit">
                                    ✏️
                                </button>

                            </form>
                        
                        </div>

                    </div>

                {% endfor %}

            {% else %}

                <p>No conversations yet.</p>

            {% endif %}

        </div>

        <br>

        <a href="{{ url_for('auth.logout') }}">
            <button>Logout</button>
        </a>

    </aside>

    <!-- Main Content -->
    <main class="main-content">

        <div class="workspace">

            {% if workspace_state == "upload" %}

                <div class="empty-state">

                    <h1>Welcome, {{ current_user.name }}</h1>
                    <p>Chat with your PDFs.</p>

                    <form action="{{ url_for('upload.upload_pdf') }}"
                        method="POST"
                        enctype="multipart/form-data">

                        <input
                            type="file"
                            name="pdf"
                            accept=".pdf"
                            required>

                        <button type="submit">
                            Upload PDF
                        </button>

                    </form>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <p id="flash-message">{{ message }}</p>
                                
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                </div>



            {% elif workspace_state == "chat" %}

                <div class="chat-workspace">

                    <p> Chat state on </p>

                    <h2>{{ active_conversation.title }}</h2>

                        {% if messages %}

                            {% for message in messages %}
                                <div>
                                    <strong>{{ message.role }}</strong>
                                    <p>{{ message.content }}</p>
                                </div>
                            {% endfor %}


                        {% else %}

                            <p>No messages yet.</p>

                        {% endif %}

                        <form
                            action="{{ url_for('chat.send_message', conversation_id=active_conversation.id) }}"
                            method="POST"
                        >
                            <input
                                type="text"
                                name="message"
                                placeholder="Type your message..."
                                required
                            >

                            <button type="submit">
                                Send
                            </button>
                        </form>

                    <!-- Future PDF Header -->

                    <!-- Future Messages -->

                    <!-- Future Chat Input -->

                </div>

            {% endif %}

        </div>

    </main>

</div>

</body>
</html>